name: CI

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, development ]
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ci-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_cpp98:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Build (make)
        run: make

  tests-catch2-cpp11:
    runs-on: ubuntu-latest
    needs: build_cpp98
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Build tests
        run: make test
      - name: Run tests
        run: make test-fast
